.scroll-text-container {
  position: fixed;
  width: 27%;
  height: 101em;
  bottom: 0;
  left: 20%;
  margin-left: -9em;
  font-size: 180%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(674px) rotateX(25deg);
  background-color: black;
  color: #e5b13a;
  font-family: 'Franklin Gothic Book';
}


.scroll-text-container:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(to top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

.scroll-text-content {
	position: absolute;
	top: 100%;
	animation: scroll 100s linear 4s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
