html,
body {
  height: auto;
  width: auto;
}

.app {
  background-color: black;
  display: flex;
}

.side-scroll {
  width: 30%;
}

.main-container {
  width: 70%;
  background-color: #D66D1A;
  margin: 15px;
}

h1 {
  height: 40px;
  text-align: center;
}

.card {
  width: 30%;
  border: 2px solid;
  box-shadow: 15px 15px 25px #D66D1A;
  background-color: white;
  margin: 1%;
}
